<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home EJS</title>
  </head>
  <body>
    <h1>This is the homepage</h1>
    <!-- EJS Tag -->
    <h3><%= 1+2 %></h3>
    <h3><%= "niraj".toUpperCase() %></h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo
      tenetur vel nesciunt sit, dolorem cumque architecto rem eligendi
      laboriosam deleniti eaque, accusantium error sint rerum eius mollitia
      numquam vitae. Aliquam libero architecto officiis voluptatem earum tempora
      nisi et natus, id est. Exercitationem officia maiores beatae molestias
      cumque nulla sapiente vel!
    </p>
    <button>Click Me!</button>
  </body>
</html>
